@model CreateUser
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/customcss.css">
    <title>Ana Sayfa</title>
</head>
<body>
    <div class="pagearea">
        <div class="fullscreen singup">
            <a asp-controller="Login" asp-action="Index" class="signinbtn">Giriş Yap</a>
            <h1>@(ViewBag.Ok is null ? "Karban Board" : ViewBag.Ok)</h1>
            <section class="flex-start-start-column user-add">
                <span class="title">Bir Karban Hesabı Oluşturun</span>
                <form action="" enctype="multipart/form-data" method="post" class="flex-start-start-column">
                    <label for="userimage">Resim</label>
                    <input type="file" asp-for="Photo" id="userimage">
                    <label for="username">Kullanıcı Adı</label>
                    <input type="text" asp-for="UserName" placeholder="Kullanıcı Adı">
                    <label for="email">E-Mail Adresiniz</label>
                    <input type="text"asp-for="Email" placeholder="E-Mail Adres">
                    <label for="password">Şifre Giriniz</label>
                    <input type="password" asp-for="Password" placeholder="Şifreniz">
                    <button type="submit">Üye Ol</button>
                </form>
            </section>
        </div>
    </div>
</body>
</html>